<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="com.rodrigoveiga.bostamgjmgm"
        version="1.0.3">

    <name>
        bosta
    </name>

    <description>
       sdvdsfvbdfvbdfbdfbdfb
    </description>

    <author email="rodrigoveiga.2001@gmail.com">
        Rodrigo Veiga Costa
    </author>

    <preference name="orientation" value="landscape" />
    <preference name="fullscreen" value="true" />
    <platform name="android" />
    
</widget>
